/* content page */
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
.about{
    font-family: Arial, Helvetica, sans-serif;
}
img:hover{
    /* background-color: rgb(78, 138, 194); */
    transform: scale(1.1);
}
img{
    width: 350px;
    height: 350px;
}
.logo{
    width: 65px;
    height: 65px;
}
.aboutme{
    width: 100px;
    height: 100px;
}
.capstone{
    width: 286px;
    height: 286px;
}

li a{
    color: rgb(26, 26, 37);
}
.quote{
    font-style: italic;
    font-weight: bold;
}
.big-text{
    font-size: 30px;
    /* font-style: italic; */
    margin: 20px 0;
    color: rgb(72, 146, 230);
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first{
    background: transparent;
    /* border: 1px solid rgb(82, 184, 82); */
    color: black;

}


a.btn:hover{
    /* background: rgb(82, 184, 82); */
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.banner-info, .banner-image{
    margin: 30px 0;

}

.img-responsive{
    border-radius: 90px;
    max-width: 630px;
    display:block;
    
}


/* end content page */